a(href = '/')
  h1 Pomona
a(href = '/setup') Setup
ul
  li
    a(href = '/publish/general/intro') Intro
  li
    a(href = '/publish/daily/1') 1
  li
    a(href = '/publish/daily/2') 2
  li
    a(href = '/publish/daily/3') 3