/* GLOBAL */
table {
    width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

input {
  width: 5em;
}

#id {
  width: 22ch;
}

/* INDEX */
#channels-and-users ul li {
    display: inline-block;
    margin-right: 1em;
}

/* DIALOGS */
#dialogs td span a {
    margin: 0.5em;
}

/* EDIT DIALOGS */
label,
#name,
#save {
  margin-right: 0.5em;
}

.survey-name, 
.file-id, 
.file-name, 
.file-file {
  display: block;
  margin: auto;
  width: auto;
  text-align:center;
}

.survey-answer,
.survey-answer th,
.survey-answer td {
  border: 0;
}

/* CONFIG */
#next-execution-p {
  display: inline;
}